.board-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.board-table td {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 80px;
    cursor: pointer;
}

.b-border {
  border-bottom: groove hotpink 10px;
}

.r-border {
  border-right: groove hotpink 10px;
}

#user {
  color: yellow;
  font-weight: bold;
  font-size:36px;
  margin-top:35px;
}

#status {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    height: 30px;
}

#turn {
  color: aqua;
  font-weight: bold;
  font-size:36px;
  margin-top: 15px;
}
