.board-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.board-table td {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 80px;
    cursor: pointer;
}

.b-border {
  border-bottom: groove hotpink 10px;
}

.r-border {
  border-right: groove hotpink 10px;
}

#user {
  color: yellow;
  font-weight: bold;
  font-size:36px;
  margin-top:35px;
}

#status {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    height: 30px;
}

#turn {
  color: aqua;
  font-weight: bold;
  font-size:36px;
  margin-top: 15px;
}

#logout-icon {
  position: absolute;
  top: 1vw;
  right: 1vw;
}

#logout-icon .tooltip-text {
visibility: hidden;
width: 90px;
background-color: #31343a;
font-size: 0.7em;
color: aqua;
text-align: center;
padding: 5px 0;
border-radius: 6px;
position: absolute;
top: 5vh;
right: 0vw;
z-index: 1;
}

#logout-icon:hover .tooltip-text {
  visibility: visible;
}
