@font-face {
font-family: 'EraserRegular';
src: url('/fonts/EraserRegular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

body {
    /* By Wanwa - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=15078433*/
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-color: #31343a;
    font-family: "EraserRegular", "Chalkboard", "Segoe print", Arial;
    color: white;
    text-align: center;
}

h1 {
  font-size: 78px;
  margin: 25px;
}

.board {
  width: 50%;
  margin-left: 22%;
  padding: 3%;
  background-color: #31343a;
  font-size: 2em;
  border-radius: 15px;
  overflow: hidden;
}

.link {
  display: inline-block;
  margin-top: 25px;
  font-size: 1.5em;
}

.green {
  color: lightgreen;
}

.yellow {
  color: yellow;
}

.blue {
  color: aqua;
}

.pink {
  color: hotpink;
}

.mt-big {
  margin-top: 100px;
}

.mt-med {
  margin-top: 50px;
}

.mt-sm {
  margin-top: 25px;
}

.mt-0 {
  margin-top: 0px;
}

#logout-icon {
  position: absolute;
  top: 1vw;
  right: 1vw;
}

#logout-icon .tooltip-text {
visibility: hidden;
width: 90px;
background-color: #31343a;
font-size: 0.7em;
color: aqua;
text-align: center;
padding: 5px 0;
border-radius: 6px;
position: absolute;
top: 5vh;
right: 0vw;
z-index: 1;
}

#logout-icon:hover .tooltip-text {
  visibility: visible;
}
