.modal {
  display: block;
  position: fixed;
  z-index: 9999;
  padding-top: 40vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background: red;
  font-family: "EraserRegular", "Chalkboard", "Segoe print", Arial;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.close {
  position: absolute;
  right: 12px;
  top: 0px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #555;
}

.close:hover {
  color: #000;
}
