<!DOCTYPE html>
<html lang="fr">

    <head>
        <title>Tic Tac Toe - Tableau des meneurs</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/leaderboard.css">
        <link rel="stylesheet" href="css/modal.css">
        <script src="js/modal.js" defer></script>
    </head>


    <body>

        <h1 class="green">Tableau des meneurs</h1>

        {% if game_result %}
          <div id="modal" class="modal">
            <div class="modal-content">
              <span class="close">X</span>
              <p class="pink">
                {{ game_result }}
              </p>
            </div>
          </div>
        {% endif %}

        {% if message %}
          <p id="message" class="pink board">{{ message}}</p>
        {% endif %}

        {% if leaders %}
          <table class="board">
              <tr>
                  <th>Rang</th>
                  <th>Joueur</th>
                  <th>Victoires</th>
              </tr>

              {% for leader in leaders %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ leader.username }}</td>
                    <td>{{ leader.wins }}</td>
                </tr>
              {% endfor %}

              {# Rangs vides jusqu'à 10 #}
              {% for i in range(leaders|length, 10) %}
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
              {% endfor %}
          </table>
        {% endif %}

        <a href="/" class="link mt-0 yellow">Commencez une nouvelle partie!</a>

        <a href="/logout" id="logout-icon">
          <img src="img/logout.svg" alt="Logout" width="30" height="30">
          <span class="tooltip-text green">Quitter</span>
        </a>

    </body>
</html>
